

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
 
  h1{
font-size: 100px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:rgb(255, 166, 0);
    height: 100%;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  
  .sidebar a.active {
    background-color: rgb(85, 207, 248);
    color: white;
  }
  
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
 
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 5rem;}
  }
  
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  h1{
color: white;
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
  h2{

    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    
  }
  
  p{
Color: white;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
margin-left: 300px;
  }
  .container{
    max-width: 95%;
    margin: 0 auto;

  }
  .banner .column{
    display: flex;
    justify-content: center;
    align-items: center;


  }

  body .nav{
    width: 250px;

  }
  body{
  display: flex;  
  }
  .container{
    max-width: 95%;
    margin: 0 auto;

  }
  .banner .column{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
    gap: 30px;
  }

  body .nav{
    width: 250px;

  }
  body{
  display: flex;  
  }
  body .main{
    width: calc(100% - 250px);

  }
  .banner{
    background-image: url("img/MaxPixel.net-Abstract-Background-Abstract-Art-Abstract-4745652.jpg");
    background-size: cover;



  }
  .banner .column h2{
    margin: 0;
  }